@media (min-width: 375px) {
  .feedbackContainerWrapper {
    padding: 10px;
  }

  .feedbackContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
  }
  .headerFeedback {
    font-family: "Unna", serif;
    text-align: left;
    font-size: 20px;
    padding-left: 15px;
  }

  .wrapper {
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
    width: 80%;

    justify-self: center;

    background-color: white;
  }

  .nextButton {
    background-color: #2479c1;
  }

  .prevButton {
    background-color: #000c2f;
  }
  .feedbackContainerWrapper {
    display: flex;
    flex-direction: column;
  }

  .prevButton span {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 9px;
    transform: rotate(135deg);
    margin-left: 10px;
    -webkit-transform: rotate(135deg);
  }
  .nextButton span {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 9px;
    margin-right: 10px;

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 20px;
  }

  .userHeader::before {
    content: "";
    width: 50px;
    height: 3px;
    background-color: #2479c1;
    display: block;
    margin-bottom: 10px;
  }
  .userHeader {
    margin-left: 25px;
    font-weight: bolder;
  }
  .userInfo {
    text-align: left;
  }

  .flexWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
  }

  .buttonContainer > button {
    width: 55px;
    height: 55px;
    border: 0px;
    cursor: pointer;
  }

  .contentDiv {
    padding: 0 5px 5px 5px;
  }

  .wrapper {
    display: none;
  }

  @keyframes fadeIn {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }

  .wrapper.active {
    display: block;
    animation: fadeIn 1s ease-in-out;
  }

  .gridWrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;
    gap: 10px;
    position: relative;
  }
  .gridWrapper a {
    text-align: center;
  }
  .gridWrapper :last-child {
    width: 95%;
    margin: auto;
    text-transform: uppercase;
    color: white;
  }

  .gridWrapper :first-child {
    width: 95%;
    margin: auto;
    text-transform: uppercase;
    color: white;
  }

  .gridWrapper button {
    border-radius: 45px;
    padding: 25px;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
  }
}
